body 
{
    background-image: url("../images/login_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #01515a;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

h1 
{
    padding-top: 30px;
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

#loginButton,
#loginName
{
	font-size: 30px;
    border: 0px;
}
#loginPassword
{
	font-size: 30px;
    border: 0px;
}
.form {
    position: absolute;
    width: 350px;
    left: calc(50% - 215px);
    top: 175px;
    border-radius: 17px;
    background-color: #01515a;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    overflow: hidden;
    height: 360px;
    transition: .6s;
}
input[type="text"],input[type="password"]{
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 75%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}
.input-form {
    transition: .4s;
    position: absolute;
}
.input-field:valid {
    border: 2px solid green;
}

.input-field:focus:invalid {
    border: 2px solid rgb(255, 0, 64);;
}
.input-field:invalid:required {
    background-image: yellow;
}

.buttons
{
    font-size: 30px;
    border-radius: 5px;
    border: 0px;
    width: 50%;
    font-family: 'Ubuntu', sans-serif;
    color: #b8e2e2;
    background-color: #00262fd1;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.buttons:hover{
    background-color: #063a46d1;
    color: white;
}

.valid {
    color: green;
}
.invalid {
    color: rgb(255, 0, 64);;
}
#explanation,
#explanationUser {
    display: none;
    color: black;
    position: relative;
    bottom: 1px;
    text-align: center;
    font-family: 'Arial';
}
#explanation>p {
    position: relative;
    bottom: 10px;
}
#loginResult {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 0, 64);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    width: 350px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login,
#signup {
    position: absolute;
    width: 100%;
    transition: 0.4s;
}
#login {
    left: 0px;
}
#signup {
    left: 400px; 
}
#signupResult {
    position: relative;
    bottom: 350px;
    color: rgb(255, 0, 64);
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
.error-message {
    height: 75px; /* reserve space */
    width: 350px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login/Register slider*/
.slider {
    width: 270px;
    margin: auto;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #001720b2, 0 5px 5px 0 #001720b2;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    will-change: transform;
}
#btn {
    top: 0;
    left: 0px;
    position: absolute;
    width: 135px;
    height: 100%;
    background: #00262fd1;
    border-radius: 30px;
    transition: 0.4s;
    transform: translateZ(0);
}
.toggle-btn {
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
    font-family: 'Ubuntu', sans-serif;;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}